/* Run glib-compile-resources resources/g-resources/library.xml */

@define-color regular-text-color #005050;
@define-color label-text-color #0060af;
@define-color title-text-color #0060af;
@define-color description-text-color #00507f;
@define-color message-text-color #00507f;
@define-color text-color #105a7f;
@define-color shadow-color #80809f;
@define-color stealblue #4682B4;
@define-color light-stealblue lighter(#4682B4);

/*
@define-color background-color rgba(100%,100%,100%,0.5);
@define-color text-color #fff;
*/

window.background,
dialog.background {
  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/t/my-basic-stuff/illust31-900x675.jpg');
  background-repeat: repeat;
}

menubar, statusbar,
notebook header.top *,
menubar * {
  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/t/my-basic-stuff/illust31-900x675.jpg');
  background-repeat: repeat;
}

menubar, statusbar,
notebook header.top,
.icon-dropshadow {
  box-shadow: 3px 3px 2px @shadow-color; /*#88440f;*/
}

menubar label, statusbar label,
notebook header.top label {
  color: @text-color;
}


.QAComboBoxText *,
.QAFileChooserButton * {
  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/t/my-basic-stuff/illust31-900x675.jpg');
}

.QAFileChooserButton button.file label {
  color: @text-color;
}

/*
.QAFileChooserButton button.file,
.QAFileChooserButton button.file box,
  background-color: rgba(256,256,256,0.3);


menubar:backdrop,
  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/t/my-basic-stuff/brushed-copper-texture-900x132.jpg');

applicationwindow {
	background-color: #480044;
	color: blue;
}

dialog.background {
  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/Old/I/p4.jpg');
}

dialog > box {
  background-color: rgba( 95%, 95%, 100%, 0.8);
}

  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/Old/I/p5.jpg');

  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/Old/I/p5.jpg');

menubar * {
  box-shadow: 1px 1px 1px #88440f;
}

aboutdialog.background {
  background-image: url('file:///home/marcel/Languages/Raku/Projects/Tools/Github/Old/I/p4.jpg');
*/
/*
window grid,
dialog > box {
  background-color: rgba( 95%, 95%, 100%, 0.5);
}
*/
/*
.QAFileChooserButton button.file label {
  color: #fff;
}

.QAComboBoxText *,
.QAFileChooserButton *,
.QAImage {
  background-color: #446;
}
*/
